.inputName {
  font-size: 0.7em;
  background-color: rgba(42, 41, 39, 0.9);
  color: white;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  margin-left: 0.8%;
  margin-bottom: 0.8%;
}

.labelName {
  margin-left: 0.8%;
  font-size: 1.4em;
}

.image {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
}

img:hover {
  transform: scale(1.1);
}